@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap%27);

.bot{
    text-decoration: none;
    border-color: #fafafa;
    background: #fafafa!important;
    color: #f99e29!important;
    padding-left: 7;
    
    
}
.bot2{
    text-decoration: none;
    border: 1px solid #fafafa !important;
    background: #f99e29!important;
    color: #fafafa!important;
    padding-left: 7;
}

.text-decorator-none{
    text-decoration: none;
}

.font{
font-family: 'Source Sans Pro', sans-serif;
}

.teste{
    display: flex !important;
    justify-content: flex-end;
}





