.btn{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    border: 1px solid #c4c4c4!important;
    color: white!important;
    font-weight: bold!important;
    margin-left: 45px !important;
    margin-right: 20px;
    height: 50px;
    width: 150px;
    
}
