.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
   
}
.btn-cadastre-se{
    text-decoration: none!important;
    border-color: #fafafa!important;
    background: #fafafa!important;
    color: #f99e29!important;
}
.avatar {
    width: 35px!important;
    height: 35px!important;
}