.textoEntrar{
    color: #807c7c!important;
    font-weight: bold !important;
    font-family: 'Source Sans Pro', sans-serif!important;
}
.btnLogin{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    color: white!important;
    font-weight: bold!important;
}
.textoLogin {
    color: #807c7c!important;
}
.text-decorator-none{
    text-decoration: none;
}