.bg-home-login{
    background-color: rgba(17, 0, 255, 0.034);
}
.alinharCards{
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
}
.cardEstilo{
    align-items: center;
}
.textoPerfil{
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif!important;
    color: #505050;
}
.text-decorator-none{
    text-decoration: none;
}
.fotoPerfil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-self: center;
}
.alinharItens{
    display: flex;
    justify-content: space-between !important;
    
}
.btnPostagens{
    border-radius: 6px!important;
    background-color: white!important;
    border: 1px solid #c4c4c4!important;
    color: #f99e29!important;
    font-weight: bold!important;
    height: 50px;
    width: 150px;
}