.text-decorator-none{
    text-decoration: none;
}

.bottom-none{
    display: none !important;;
}

.btnCancelar{
    background-color: white!important;
    color: #f99e29!important;
    font-weight: bold!important;
    margin-right: 45px !important;
}

.botao2{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    border: 1px solid #c4c4c4!important;
    color: white!important;
    font-weight: bold!important;
    margin-left: 45px !important
}


