.imagem4{
    background-image: url(https://i.imgur.com/3VV5Oih.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.card{
    background: rgb(241, 241, 241);
}

.color-input{
    background-color: white;
    color: white;
    border-color: white;
    border-radius: 6px;
    height: 30px;
}

.botao{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    color: white!important;
    font-weight: bold!important;
    margin-bottom: 10px!important;
}

.texto-login {
    color: #807c7c!important;
}