.fonte-titulos{
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif!important;
    color: #505050;
}
.fonte-texto{
    font-family: Helvetica;
    font-size: 14px!important;
    word-break: break-word;
}
.espaco-letras{
    letter-spacing: 1px!important;
}
.fonte-tema1 {
    font-weight: Helvetica;
    font-family: 'Source Sans Pro', sans-serif!important;
    color: #505050;
}
.btn-deletar-post{
    background-color: white!important;
    color: #f99e29!important;
    font-weight: bold!important;
}
.btn-atualizar-post{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    border: 1px solid #c4c4c4!important;
    color: white!important;
    font-weight: bold!important;
}
.text-decorator-none{
    text-decoration: none;
}
.bottom-none{
    display: none !important;
}
.bg-postagens-users{
    background-color: rgba(17, 0, 255, 0.034);
    height: 100vh;
}
