.imagem2{
    background-image: url(https://i.imgur.com/RT1rD7P.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    color: #807c7c!important;
    font-weight: bold !important;
    font-family: 'Source Sans Pro', sans-serif!important;
}

.btnCancelar{
    background-color: white!important;
    color: #f99e29!important;
    font-weight: bold!important;
    margin-right: 45px !important;
}

.botao2{
    border-radius: 6px!important;
    background-color: #f99e29!important;
    border: 1px solid #c4c4c4!important;
    color: white!important;
    font-weight: bold!important;
    margin-left: 45px !important
}

.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
}