@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap%27);

.btnHome1{
    text-decoration: none;
    border-color: #fafafa;
    font-weight: bold!important;
    background: #fafafa!important;
    color: #f99e29!important;
}
.btnHome2{
    text-decoration: none;
    font-weight: bold!important;
    border: 1px solid #fafafa !important;
    background: #f99e29!important;
    color: #fafafa!important;
}
.text-decorator-none{
    text-decoration: none;
}

.font{
font-family: 'Source Sans Pro', sans-serif;
}

.imgHome{
    display: flex !important;
    justify-content: flex-end;
  
}